### Exercises

#### Question 1

Write a function that, given an epoch timestamp, returns a `datetime` object set to the beginning of that month (so midnight of the first day of the month).

For example, given the epoch time `12345678.9`, your function should return:
```
datetime.datetime(1970, 5, 1, 0, 0)
```

In [9]:
from datetime import datetime
import time

In [11]:
t = 12345678.9
dt = datetime.fromtimestamp(t)
dt

datetime.datetime(1970, 5, 23, 16, 21, 18, 900000)

In [12]:
dt.replace(day=1, hour=0, minute=0, second=0, microsecond=0)

datetime.datetime(1970, 5, 1, 0, 0)

In [13]:
def first_day_converter(timestamp):
    dt = datetime.fromtimestamp(timestamp)
    first_day = dt.replace(day=1, hour=0, minute=0, second=0, microsecond=0)
    return first_day

In [14]:
first_day_converter(t)

datetime.datetime(1970, 5, 1, 0, 0)

In [15]:
first_day_converter(time.time())

datetime.datetime(2023, 7, 1, 0, 0)

#### Question 2

Write a function that returns the difference in hours between two dates provided as Python standard ISO formatted strings, rounded to the nearest hour. For simplicity, assume that these dates do not contain fractional seconds.

For example, given these two dates:
```
2001-01-01T13:50:23
```

and 
```
2001-06-12T14:23:50
```

your result should be `3889` hours.

In [24]:
dt1 = "2001-01-01T13:50:23"
dt2 = "2001-06-12T14:23:50"
# dt1 = datetime.strptime(dt1, "%Y-%m-%dT%H:%M:%S")
# dt2 = datetime.strptime(dt2, "%Y-%m-%dT%H:%M:%S")
dt1 = datetime.fromisoformat(dt1)
dt2 = datetime.fromisoformat(dt2)
delta = (dt2 - dt1).total_seconds()/3600
print(f"Hours between dates: {delta:.0f}")

Hours between dates: 3889

In [25]:
def num_hours(dt1, dt2):
    dt1 = datetime.fromisoformat(dt1)
    dt2 = datetime.fromisoformat(dt2)
    delta = (dt2 - dt1).total_seconds()/3600
    return int(f"{delta:.0f}")

In [26]:
num_hours('2001-01-01T13:50:23', '2001-06-12T14:23:50')

3889

In [27]:
num_hours('2001-01-01T00:00:00', '2001-01-01T01:00:00')

1

In [28]:
num_hours('2001-01-01T00:00:00', '2001-01-02T01:50:00')

26

### Question 3

Write a function that can be used to consistently format `datetime` objects into strings with some default format, but allows the caller to override the default format.

For example, the default format could be `mm/dd/yyyy hh:mm:ss am/pm`, but your function allows itself to be called with some argument that can override that format.

In [44]:
def dt_to_string(dt, *, fmt='%m/%d/%y %I:%M:%S%p'):
    return dt.strftime(fmt)

In [46]:
dt = datetime(2002, 3, 11, 11, 0, 0)
dt_to_string(dt, fmt='%Y-%m-%d %H:%M:%S')

'2002-03-11 11:00:00'

In [48]:
dt_to_string(dt, fmt="%B %d, %Y")

'March 11, 2002'